$font-stack: 'Lato', sans-serif;

$primary-color: #333;

$crop-background-blue: #D9EDFF;
$crop-med-blue: #0387FF;
$crop-blue: #2D30FF;
$crop-deep-blue: #00426C;
$crop-menu-blue: #53adff;
$crop-cyan: #00DEFF;
$crop-green: #009000;
$crop-orange: #F37900;
$crop-gray: #7F8184;

$container-width: 1280px;
$gutter:30px;
$small-gutter:15px;

$menu-bar-height: 55px;
$menu-margin-top: 16px;
