@import 'variables';


body {
  font-family: $font-stack;
  color: $primary-color;
  background-color:$crop-background-blue;
}

h1 {
    font-size:26px;
    color:$crop-med-blue;
}

.blue {
    @extend h1;
    color:$crop-blue;
}
.green {
    @extend h1;
    color:$crop-green;
}

.white {
    @extend h1;
    color:$crop-green;
}


h2 {
    font-size:17px;
    color:$crop-blue;
    text-transform:uppercase;
}


@import 'crop';

//
// h e a d e r  /  f o o t e r
//
#header { margin-bottom: 30px; }
#footer { margin-top: 30px; }

#header {
    background-color: white;
}

#header .brand {
	padding-top: 20px;
	height: 140px;
}

.menu-bar {
	background-color: $crop-med-blue;
	height: $menu-bar-height;
}

.menu-bar .menu {
	display: inline;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}
.menu-bar .menu-right {
	text-align: right;
}

.menu-bar .menu a,
.menu-bar .menu a:visited {
	color: white;
	margin-right: 25px;
}

.menu-bar .menu a:hover {
	text-decoration: none;
	color: $crop-blue;
}

// Language switch links
.language-toggle form {
	display: inline;
}
a.switchlang {
    font-size: 14px;
    font-weight: 100;
}
a.switchlang svg.switchlang-circle {
    height: 18px;
    width: 18px;
}
a.switchlang svg.switchlang-circle circle {
    fill: white;
}
a.switchlang:hover svg.switchlang-circle circle {
    fill: $crop-blue;
}


#header .container {
	position: relative;
}
.search-wrapper {
	position: absolute;
	right: 0;
	top: 40px;
	text-align: right;
}

// header/footer social links
.social a img {
    // Hide the img tag knowing that it will be turned into an svg
    // tag that is stylable (done in javascript for any img tag with
    // 'svg' in the class attribute).
    display: none;
}
.social a {
    margin-right: 5px;
}
.social a svg,
.social a img {
    height: 20px;
    width: 20px;
}
.social a svg path {
    fill: white;
}
#header .social a svg,
#header .social a img {
    height: 25px;
    width: 25px;
}
#header .social a.twitter svg path {
    fill: #55ACEE;
}
#header .social a.facebook svg path {
    fill: #4C66A4;
}
#header .social a.google-plus svg path {
    fill: #D73D32;
}
#header .social a.rss svg path {
    fill: #FF6600;
}
.social a:hover svg path {
    fill: $crop-blue !important;
}

