/***********************************************
Surgical Classes
************************************************/

.margin-left {
    margin-left:$gutter;
}

.margin-right {
    margin-right:$gutter;
}

.margin-bottom {
    margin-bottom:$gutter;
}

.margin-top {
    margin-top:$gutter;
}

.padding-left {
    padding-left:$gutter;
}

.padding-top {
    padding-top:$gutter;
}

.padding-bottom {
    padding-bottom:$gutter;
}


.section-margin {
    margin-bottom:90px;
}




/***********************************************
Explore Sidebar Styles
************************************************/

.sidebar {
    font:$crop-green;
    background-color: #fff;
}

.sidebar .header {
    @extend .padding-left;
    @extend .padding-top;

    background-color:$crop-green;
    color:#FFF;
    font-size:16px;
    text-transform:uppercase;
}
.sidebar .content {
    @extend .padding-left;
    @extend .padding-top;

    background-color:#FFF;
    color:$crop-green;
}



/***********************************************
Data Catalog Styles
************************************************/

.catalog-item {
    background-color:#FFF;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:10px;
    font-size:15px;
    color:$crop-gray;
}

.catalog-item h2 {
    margin:0;
}

/***********************************************
Data Priority Styles
************************************************/

.priority-item {
    border-top:2px solid white;
}

