/***********************************************
Surgical Classes
************************************************/

.margin-left {
    margin-left:$gutter;
}

.margin-right {
    margin-right:$gutter;
}

.margin-bottom {
    margin-bottom:$gutter;
}

.margin-top {
    margin-top:$gutter;
}

.padding-left {
    padding-left:$gutter;
}

.padding-top {
    padding-top:$gutter;
}

.padding-bottom {
    padding-bottom:$gutter;
}


.section-margin {
    margin-bottom:90px;
}




/***********************************************
Explore Sidebar Styles
************************************************/

.sidebar {
    background-color: #fff;

    // Positioning of arrow for active item.
    .topic-menu-item {
        position: relative;
        .active-arrow {
            position: absolute;
            left: -13px;
            top: 0;
        }
    }

    .topic-menu-item.active,
    .topic-menu-item:hover {
        cursor: pointer;
        h2, p {
            color: $crop-gray;
        }
    }

    i {
        font-weight: bold;
        font-size: 20px;
    }
    h2 {
        color: $crop-green;
        margin-bottom: 0;
        font-weight: bold;
    }
}

.sidebar .header {
    background-color:$crop-green;
    color:#FFF;
    font-size:16px;
    text-transform:uppercase;
    padding: ($gutter / 2);
    padding-left: $gutter;
    margin-left: -($gutter/2);
    margin-right: -($gutter/2);
}
.sidebar .content {
    background-color:#FFF;
    color:$crop-green;
    padding-left: ($gutter / 2);
    padding-bottom: $gutter;
}


/***********************************************
Data Catalog Styles
************************************************/

.catalog-item {
    background-color:#FFF;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:10px;
    font-size:15px;
    color:$crop-gray;
}

.catalog-item h2 {
    margin:0;
}

/***********************************************
Data Priority Styles
************************************************/

.priority-item {
    border-top:2px solid white;
}

