<div>
    <div class="events" >
        <div class="event-date">{{dt | date:'fullDate' }}</div>
        <div class="event-date" >{{cal.range[0] | date:'MMMM yyyy' }}</div>
        <div ng-repeat="event in events" class="event-list-item" >
            <a class="event-link" href="{{event.url_path}}">
            <p><strong>{{ event.title }}</strong></p>
            <p>{{ event.short_description }}</p>
            </a>
        </div>
        <div ng-hide="events">No events for this time period</div>
    </div>
    <div ng-show="events" class="events-control" >
        <span ng-disabled="!events.meta.previous" ng-click="prevBtnCallback()"><i class="glyphicon glyphicon-chevron-left"></i></span>
        <strong>{{(events.meta.offset) + 1}} - {{ (events.meta.offset) + events.length}} of {{events.meta.total_count}}
        </strong>
        <span ng-disabled="!events.meta.next" ng-click="nextBtnCallback()"><i class="glyphicon glyphicon-chevron-right"></i></span>
    </div>

    

</div>