{% extends "demo/base.html" %}

{% load demo_tags %}


{% block content %}
    <div ng-controller="HomePageCtrl">
        <div class="row section-margin">

            <div class="col-md-8 col-sm-8 main-content not-explore-carousel">
                {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

                {% include "demo/includes/link_blocks.html" %}
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs sidebar">
                <div event-calendar></div>
            </div>

        </div>


    {% include "demo/includes/page_sections.html" %}
    </div>

{% endblock %}
