{% load demo_tags cache compress static wagtailuserbar i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="cropApp"> <!--<![endif]-->
    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Wagtail Demo{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        {# External stylesheets #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
        {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
        {% compress css %}
            {# Vendor stylesheets stored locally #}
            <link rel="stylesheet" href="{% static "demo/css/vendor/jquery.bxslider.css" %}" />

            {# Custom stylesheets #}
            {# SCSS compilation relies on django compressor #}
            <link rel="stylesheet" type="text/x-scss" href="{% static "demo/css/base.scss" %}" />

        {% endcompress %}

        {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}

        {# Javascript that needs to be called from head e.g. google analytics snippet and bootstrap shivs #}
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-xxxxxxx-x']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body class="{% block body_class %}{% endblock %}"> {# Override this block to set custom body classes on a template by template basis #}

        {% wagtailuserbar %}

        {% block header %}
            {% include "demo/includes/header.html" %}
        {% endblock %}

        <div class="container">

            {% block content %}

            {% endblock %}

        </div>

        {% block footer %}
            {% include "demo/includes/footer.html" %}
        {% endblock %}

        {# External javascript #}
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.2.18/angular-route.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

        {# Custom javascript #}
        {# Local static assets such as css, images and javascrpt
           should be stored at [yourapp]/static/[yourapp]/... #}
        {# ...we don't want to compres the angular stuff for now #}
        <!-- Angular App -->
        <script src="{% static "demo/js/app.js" %}"></script>
        <!-- Angular Directives -->
        <script src="{% static "demo/js/directives/AnimateScrollTo.js" %}"></script>
        <!-- <script src="{% static "demo/js/directives.js" %}"></script> -->
        <!-- Angular Services -->
        <!-- Angular Controllers -->
        <script src="{% static "demo/js/HomePageCtrl.js" %}"></script>

        {% compress js %}
            <!-- <script src="{% static "demo/js/vendor/jquery.bxslider.min.js" %}"></script> -->
            <!-- <script src="{% static "demo/js/vendor/fluidvids.js" %}"></script> -->
            <script src="{% static "demo/js/main.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}

    </body>
</html>
