
{% extends "demo/base.html" %}

{% load demo_tags %}


{% block content %}

<div style="height:440px; width:790px;">
    <img src="http://placehold.it/790x440">    
</div>

{% if self.linkblock_placements %}
  {% for linkblock_placement in self.linkblock_placements.all %}
    <div class="col-md-6 col-sm-6">
        <a href="{{ linkblock_placement.linkBlock.url }}"><h2>{{ linkblock_placement.linkBlock.title }}</h2></a>
        <p>{{ linkblock_placement.linkBlock.title }}</p>
    </div>
  {% endfor %}
{% endif %}


    {% include "demo/includes/page_sections.html" %}
{% endblock %}
