{% load static i18n crop_tags %}
<div id="footer">
    <div class="menu-bar"> {# menu-bar spans the full width of the browser #}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 menu hidden-xs ">
                    <ul class="menu list-unstyled list-inline">
                        <li><a href="{% home_url %}/about">ABOUT US</a></li>
                        <li><a href="{% home_url %}/contact">CONTACT US</a></li>
                        <li><a href="{% home_url %}/data">DATA</a></li>
                        <li><a href="{% home_url %}/calendar">CALENDAR</a></li>
                        <li><a href="{% home_url %}/marine-planner">MARINE PLANNER</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-12 menu-right">
                    <ul class="menu list-unstyled list-inline social">
                        <li>
                            <a href="http://twitter.com">
                                <img class="svg svg-link"
                                     src="{% static "demo/images/social-icons-svg/03-twitter.svg" %}">
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com">
                                <img class="svg svg-link"
                                     src="{% static "demo/images/social-icons-svg/06-facebook.svg" %}">
                            </a>
                        </li>
                        <li>
                            <a href="http://googleplus.com">
                                <img class="svg svg-link"
                                     src="{% static "demo/images/social-icons-svg/40-google-plus.svg" %}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img class="svg svg-link"
                                     src="{% static "demo/images/social-icons-svg/20-rss.svg" %}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
