<div id="footer">
    <div class="menu-bar"> {# menu-bar spans the full width of the browser #}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 menu">
                    <ul class="menu list-unstyled list-inline">
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li><a href="#">DATA</a></li>
                        <li><a href="#">CALENDAR</a></li>
                        <li><a href="#">MARINE PLANNER</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 menu menu-right">
                    <ul class="menu list-unstyled list-inline social">
                        <li><a href="#">T</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">R</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
