<div id="footer">
    <div class="menu-bar"> {# menu-bar spans the full width of the browser #}
        <div class="container">
            <ul class="menu list-unstyled list-inline">
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">DATA</a></li>
                <li><a href="#">CALENDAR</a></li>
                <li><a href="#">MARINE PLANNER</a></li>
            </ul>
            <ul class="menu list-unstyled list-inline pull-right social">
                <li><a href="#">T</a></li>
                <li><a href="#">F</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">R</a></li>
            </ul>
        </div>
    </div>
</div>
