{% load static i18n demo_tags %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6 brand">
                <a href="{% home_url %}/">
                    <img src="{% static "demo/images/crop-logo-web-header-645x112.jpg" %}">
                </a>
            </div>

            <div class="search-wrapper hidden-xs">
                <ul class="list-unstyled list-inline social">
                    <li>
                        <a href="http://twitter.com" class="twitter">
                            <img class="svg svg-link"
                                 src="{% static "demo/images/social-icons-svg/43-twitter.svg" %}">
                        </a>
                    </li>
                    <li>
                        <a href="http://facebook.com" class="facebook">
                            <img class="svg svg-link"
                                 src="{% static "demo/images/social-icons-svg/46-facebook.svg" %}">
                        </a>
                    </li>
                    <li>
                        <a href="http://googleplus.com" class="google-plus">
                            <img class="svg svg-link"
                                 src="{% static "demo/images/social-icons-svg/80-google-plus.svg" %}">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="rss">
                            <img class="svg svg-link"
                                 src="{% static "demo/images/social-icons-svg/60-rss.svg" %}">
                        </a>
                    </li>
                </ul>
                <div class="search-box">
                    {% block search_box %}
                        {% include "demo/includes/search_box.html" only %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>

    <div class="menu-bar"> {# menu-bar spans the full width of the browser #}
        <div class="container">
            <div class="row">

                <div switch-lang class="col-sm-3 col-xs-3 language-toggle menu">
                    <form id="switchlang-en" action="/switchlang/en" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="requesting_page_id" value="{{self.id}}">
                        <a class="switchlang" ng-class="{'active': lang === 'en'}"
                            href="javascript:document.getElementById('switchlang-en').submit();">
                            <svg class="switchlang-circle" >
                                <circle cx="9" cy="12" r="6"/>
                            </svg>
                            English
                        </a>
                    </form>
                    <form id="switchlang-es" action="/switchlang/es" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="requesting_page_id" value="{{self.id}}">
                        <a class="switchlang" ng-class="{'active': lang === 'es'}"
                            href="javascript:document.getElementById('switchlang-es').submit();">
                            <svg class="switchlang-circle" >
                                <circle cx="9" cy="12" r="6"/>
                            </svg>
                            Español
                        </a>
                    </form>
                </div>


                <div class="col-sm-9 col-sm-offset-0    col-xs-2 col-xs-offset-7   menu-right">
                    {% sections_menu %}
                    
                    {% hamburger_menu %}
                </div>
            </div>
        </div>
    </div> {# end .menu-bar #}

</div>
