{% load image_tags %}

{% if self.linkblock_placements %}
  <div class="row margin-top">
  {% for linkblock_placement in self.linkblock_placements.all %}
    <!-- <div class="col-md-6 col-sm-6"> -->
        {% with linkblock_placement.linkBlock as obj %}
            <div class="link-block col-md-6 col-sm-6">
              <a href="{{ obj.url }}">
                <div class="hidden-xs">
                  {% if obj.image %}
                    {% image obj.image fill-365x220 %}
                  {% else %}
                    <img src="http://placehold.it/380x220">
                  {% endif %}
                </div>
                <h1>{{ obj.title }}</h1>
                <p>{{ obj.text }}</p>
              </a>
          </div>
        {% endwith %}
    <!-- </div> -->
  {% endfor %}
  </div>
{% endif %}

