{% load pageurl image_tags %}

{# Individual section - used on homepage for sections #}

<div class="col-md-9 col-sm-9 main-content">
    <a class="list-group-item" href="#{{section.slug}}">
        {% if section.image %}
            {% image section.image width-790 %}
        {% else %}
            <img src="http://placehold.it/790x440">
        {% endif %}
        <h4 class="list-group-item-heading">{{ section.title }}</h4>
        <div class="list-group-item-body">
        {{ section.body|safe}}
        </div>
    </a>
</div>

<div class="col-md-3 col-sm-3 sidebar">
    {% if section.topics %}
        <h2>Key Data Sectors</h2>
        {% for topic in section.topics %}    
        <strong>{{topic.title}}</strong>
        <p>{{topic.short_description|safe}}</p>

        {% endfor %}
    {% endif %}

</div>