{% load pageurl image_tags static demo_tags %}

{# Individual section - used on homepage for sections #}

<div class="col-md-8 col-sm-8 main-content">
    
    <div id="{{section.slug}}" name="{{section.slug}}">
        <span class="anchor"></span>
        {% if section.topic_pics %}
            {# Used on the Explore page #}
            <div class="explore-carousel" explore-carousel topics='topics'>{% include "demo/includes/carousel.html" with carousel_items=section.topic_pics %}</div>
        {% elif section.carousel_items.all %}
            {# Used on the Learn page #}
            <div class="not-explore-carousel">
            {% include "demo/includes/carousel.html" with carousel_items=section.carousel_items.all only %}
            </div>
        {% else %}
            {# Used on the Navigation page #}
            {% if section.image %}
                {% image section.image width-790 %}
            {% else %}
                <img src="http://placehold.it/790x440" width="100%">
            {% endif %}
        {% endif %}


        {% link_blocks section 'carousel-bottom' %}
        
        {% if section.slug != 'explore' %}
        <div class="section-body">{{ section.body|safe}}</div>
        {% endif %}

        {% for topic in section.topics %}    
            <div class="topic-description {{topic.slug}}" 
                ng-show="topics.active === '{{ topic.slug }}' " ></i>
                <p>{{topic.long_description|safe}}</p>
            </div>
        {% endfor %}


        {% if section.data_catalogs %}
            <h1 ng-show="topics.active && topics.active != topics.default_topic " class="blue" ng-click="showDataCatalogs = (showDataCatalogs === false); ">
                Preview Data Catalogs <i ng-class="{'fa fa-angle-right':!showDataCatalogs, 'fa fa-angle-down':showDataCatalogs}"></i>
            </h1>
            {% for obj in section.data_catalogs %}
                {% include "demo/includes/topic_catalog_list2.html" %}
            {% endfor %}
        {% endif %}

        {% if section.data_priorities %}
            <h1 ng-show="topics.active && topics.active != topics.default_topic " class="green" ng-click="showDataPriorities = (showDataPriorities === false); " >
                See Data Priorities <i ng-class="{'fa fa-angle-right':!showDataPriorities, 'fa fa-angle-down':showDataPriorities}"></i>
            </h1>
            {% for obj in section.data_priorities %}
                {% include "demo/includes/topic_priority_list.html" %}
            {% endfor %}
        {% endif %}

        {% link_blocks section 'content-bottom' %}

    </div>
</div>
    

<div class="col-md-4 col-sm-4 sidebar">
    
    <div class="sidebar-content" >
        {% if section.topics %}
            <div class="header">{{ section.sidebar_title }}</div>

            <div class="content">
                {% for topic in section.topics %}
                    
                    <div id="{{topic.slug}}" 
                        class="topic-menu-item {% if topic.default_topic %}default-topic{% endif %}" 
                        ng-click="setTopic('{{topic.slug}}')" 
                        ng-hide="'{{topic.slug}}' === topics.default_topic"
                        ng-class="{'active':topics.active === '{{topic.slug}}'}">
                        <i class="fa fa-angle-right active-arrow" ng-show="topics.active === '{{ topic.slug }}' " ></i>
                        <h2>{{topic.title}}</h2>
                        <p>{{topic.short_description|safe}}</p>
                    </div>
                {% endfor %}
            </div>
        {% elif section.slug == 'learn' %}
            <img src="{% static "demo/images/info_graphic.png" %}" width="250">
        {% endif %}
    </div>

    {% link_blocks section 'sidebar-bottom' %}

</div>