{% load pageurl image_tags %}

{# Individual section - used on homepage for sections #}

<div class="col-md-9 col-sm-9 main-content">
    <div id="{{section.slug}}" >
        {% if section.image %}
            {% image section.image width-790 %}
        {% else %}
            <img src="http://placehold.it/790x440" width="100%">
        {% endif %}
        <h4 class="list-group-item-heading">{{ section.title }}</h4>
        <div class="list-group-item-body">
        {{ section.body|safe}}
        </div>

        
        {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

        {% if section.data_catalogs %}
        <h1 class="blue" ng-click="showDataCatalogs = (showDataCatalogs === false); ">
            Preview Data Catalogs <i ng-class="{'fa fa-angle-right':!showDataCatalogs, 'fa fa-angle-down':showDataCatalogs}"></i>
        </h1>
            {% for obj in section.data_catalogs %}
                {% include "demo/includes/topic_catalog_list.html" %}
            {% endfor %}
        {% endif %}

        {% if section.data_priorities %}
            <h1 class="green" ng-click="showDataPriorities = (showDataPriorities === false); " >
                See Data Priorities <i ng-class="{'fa fa-angle-right':!showDataPriorities, 'fa fa-angle-down':showDataPriorities}"></i>
            </h1>
            {% for obj in section.data_priorities %}
                {% include "demo/includes/topic_priority_list.html" %}
            {% endfor %}
        {% endif %}
    </div>

</div>



<div class="col-md-3 col-sm-3 sidebar">
    {% if section.topics %}
        <div class="header">{{ section.sidebar_title }}</div>
        
        <div class="content">
            {% for topic in section.topics %}    
            <div ng-click="setTopic('{{topic.slug}}')" ng-class="{'active':topic === '{{topic.slug}}'}">
                <i class="fa fa-angle-right" ng-show="topic === '{{ topic.slug }}' " ></i><strong>{{topic.title}}</strong>
                <p>{{topic.short_description|safe}}</p>
            </div>
            {% endfor %}
        </div>

    {% endif %}
</div>