
<div id="{{obj.topic.slug}}-catalog-list" ng-show="(topics.active === '{{obj.topic.slug}}' && showDataCatalogs)">
    {% for catalog in obj.catalogs %}
        <div class="catalog-item">
            <h2>{{catalog.title}}<small>{{obj.topic.title}}</small></h2>
            <p>{{catalog.body|safe}}</p>
            <div class="row">
                <div class="col-md-2 col-sm-2"><a href="">Map</a></div>
                <div class="col-md-2 col-sm-2"><a href="">KML</a></div>
                <div class="col-md-2 col-sm-2"><a href="">Data</a></div>
                <div class="col-md-2 col-sm-2"><a href="">Tiles</a></div>
                <div class="col-md-2 col-sm-2"><a href="">Meta</a></div>
            </div>

        </div>
    {% endfor %}

</div>