/***********************************************
Event Calendar Styles
************************************************/

.event-calendar {
    @extend .padding-left;
    @extend .padding-top;

    overflow:hidden;

    table {
        width:100%;
    }
    th button.btn {
        border:none;
        color:$crop-blue;
    }

    td {
        padding:1px;
        .btn {
            background-color: $crop-med-blue;
            border:none;
            color:#FFF;
            border-radius:0;
        }
        .btn.active {
                background-color: $crop-green;
                span {
                    color:#fff;
                }
        }
    }

    .events {
        height:200px;
        overflow-y:scroll;
        border-top:2px solid $crop-med-blue;
        padding-top:$small-gutter;
        margin-top:$small-gutter;
        p {
            margin-bottom:0;
        }

        .event-list-item {
            margin-bottom: $small-gutter;
        
        }

        .event-link {
            color:$crop-green;
        }

        .event-date {
            color:$crop-gray;
            text-transform:uppercase;

        }
    }
}

